$text-color: #97979c;
$text-important-color: #2e87c9;

* {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $text-color;
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $text-important-color;
}

b {
	font-weight: 500;
}

.container {
	padding: 0.6rem;
}
